
<!DOCTYPE html>

<head>
    <title>Compose a Snippet</title>
</head>


    <body>
        

    <h1>Compose a Snippet</h1>

    <% if session[:temp_errors] %>
        <% session[:temp_errors].each do |msg| %>
            <p style="color: red;"><%= msg %></p>
        <% end %>
        <% session[:temp_errors] = nil %>
    <% end %>




        <form method="post" action="/snippets">
            <p>Title: <br><input type="text" name="title"  id="title"></p>

             <p>Description: <br><textarea   rows="4" cols="50"  name="brief" ></textarea></p>

            <p>Chart filename: <br><input type="text" name="chart" id="chart" ></p>

            <p>Audio filename: <br><input type="text" name="audio" id="audio" ></p>

            <p>Lyrics: <br><textarea   rows="4" cols="50"  name="lyrics" ></textarea></p>
            <input type="submit" value="submit">
        </form>
    </body>
</html>