<h4><%= @snippet.user.username %> wrote... </h4>

<p>&nbsp;&nbsp;&nbsp;<%= @snippet.content %> </p>

<form action="/snippets/<%= @snippet.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Snippet">
</form>

<form action="/snippets/<%= @snippet.id %>/edit" method="get">
    
    <input type="submit" value="Edit Snippet">
</form>


